@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: none;
}

.icon-16 {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: '';
}
.icon-20 {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  content: '';
}

.icon__cog {
  mask: url("../gfx/icon-cog.svg") no-repeat center/contain;
}

.ProfileMenu {
  position: absolute;
  top: 100%;
  width: 304px;
}
