@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
  outline: none;
}

.icon-16 {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: '';
}
.icon-20 {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  content: '';
}
.icon-22 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  content: '';
}

.icon__achievements {
  mask: url("../gfx/icon-achievements.svg") no-repeat center/contain;
}
.icon__back {
  mask: url("../gfx/icon-back.svg") no-repeat center/contain;
}
.icon__cog {
  mask: url("../gfx/icon-cog.svg") no-repeat center/contain;
}
.icon__community {
  mask: url("../gfx/icon-community.svg") no-repeat center/contain;
}
.icon__knowledge {
  mask: url("../gfx/icon-knowledge.svg") no-repeat center/contain;
}
.icon__log-out {
  mask: url("../gfx/icon-log-out.svg") no-repeat center/contain;
}
.icon__mobile {
  mask: url("../gfx/icon-mobile.svg") no-repeat center/contain;
}
.icon__success {
  mask: url("../gfx/icon-success.svg") no-repeat center/contain;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
